body {
  background-color: black;

}

.header {
  text-align: center;
  background-color: black;
  color: white;
  border-top: 20px solid white;
  border-bottom: 20px solid white;
  margin-bottom: 20px;
  margin-top: 20px;
}

.head {
  text-align: center;
  font-size: 20px;
  text-decoration: underline;
  color: white;
}

.nav-wrapper {
  background-color: black;
}

.parallax-container {
    height: 600px;
  }

#row {
  display: block;
}
.col-lg-3 {
  color: white;
}

}
#toppings {
  color: white;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

button {
  margin-top: 15px;
  text-align: center;
}

#order-total {
  font-size: 30px
}
